.habillage-editor__container {
  position: absolute;
  left: 0px;
  width: 100%;
}

.habillage-editor__preview-container,
.habillage-editor__controls-container {
  position: absolute;
}

.habillage-editor__preview-container {
  top: 1px;
  left: 1px;
}

.habillage-editor__controls-container {
  margin-top: 1.5rem;
  left: 1px;
  height: 8rem;
}

.habillage-editor__thumbnails-container {
  margin-top: 1.5rem;
  width: 100%;
  height: 15rem;
  bottom: 0px;
  left: 0px;
  position: absolute;
}

.habillage-editor__overlay {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 100;
  background-color: rgba(66, 66, 66, 0.7);
}
  .habillage-editor__overlay-message {
    color: white;
    position: absolute;
    left: 50%;
    transform: translate3d(-50%, 0, 0);
    font-size: 2.5rem;
    letter-spacing: 0.1rem;
    font-weight: 100;
    top: calc(50% - 7.5rem);
  }
  .habillage-editor__overlay-spinner-image {
    position: absolute;
    width: 4.5rem;  /* 90px */
    height: 4.5rem;  /* 90px */
    left: 50%;
    top: 50%;
    margin-top: -2.25rem;    /* -45px */
    margin-left: -2.25rem;  /* -45px */
  }
  .habillage-editor__progressbar {
    position: absolute;
    width: 50%;
    left: 25%;
    top: calc(50% + 5rem);
    border: solid 0.2rem white;
    height: 2rem;
    border-radius: 2rem;
    overflow: hidden;
  }
    .habillage-editor__progressbar-value {
      position: relative;
      height: 100%;
      background-color: white;
      top: 0px;
      left: 0px;
      width: 0%;
    }

.habillage-editor__add-media-button {
  position: absolute;
  right: 0rem;
  top: 0rem;
  background-image: url(../img/buttons/add.png);
  background-color: transparent;
  background-size: 100%;
  border: none;
  z-index: 100;
}

.habillage-editor__input {
  display: none;
  position: absolute;
  left: 50%;
  top: 500px;
  transform: translate3d(-50%, 10px, 0);
  z-index: 1000;
}

.habillage-editor__add-media-popup {
  width: 100%;
  height: 100%;
}
  .habillage-editor__add-media-folder {
    height: 100%;
    width: 40%;
    display: inline-block;
    position: relative;
  }
  .habillage-editor__add-media-folder:first-child {
    width: 59%;
  }
    .habillage-editor__add-media-folder p {
      text-align: center;
      margin: 15px;
      letter-spacing: 1px;
      font-size: 14px;
      color: rgba(0, 0, 0, 0.4);
      font-weight: 100;
    }
    .habillage-editor__add-media-folder div {
      width: 10rem;
      display: inline-block;
      margin: 0px;
    }
      .habillage-editor__add-media-folder div img {
        width: 80%;
        margin: 10%;
        cursor: pointer;
      }
